@import 'mixins';
@import 'vars';



*{
	@include no-marg-pad; 
	@include browser-rulles;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	margin: 20px;
	border: 1px solid #000000;
	border-top: none;
	margin-top:0;
}

header{
	h1{
		padding:20px 0 0 20px;
	}

	p{
		padding:10px 0 0 20px;
		font-size: 1.5em;
	}

	nav{
		width: 100%;
		margin: 1em 0;

		ul{
			list-style-type: none;
			text-align: right;
			background: $bkg-nav;

			li{
				display: inline-block;
				padding: 0.7em 1em;

				&:hover{
					background: $bkg-bord;
				}

				a{
					color: #ffffff;
					text-decoration: none;
				}
			}
		}
	}
}

aside{
	width:25%;
	float: left;
	padding: 10px 20px;

	nav{
		ul{
			list-style-type: none;
	
			li{
				padding: 2px;
			
				a{
					text-decoration: none;
				}
			}
		}
	}
}

section{
	width:75%;
	display: inline-block;

	h2{
		text-align: right;
		padding: 0 2em;
	}
}

footer{
	//position: absolute;
	//right: 0;
	//bottom: 0;
	//left: 0;
	padding: 1em;
	text-align: center;
	border-top: 1px solid $bkg-bord;
}